<div id="follow-icons">
  <a href="http://github.com/joeltaylor"><i class="fa fa-github-square fa-2x"></i></a>
	<a href="http://twitter.com/joeltayl"><i class="fa fa-twitter-square fa-2x"></i></a>
	<a href="https://www.linkedin.com/in/joel-taylor-1956b497"><i class="fa fa-linkedin-square fa-2x"></i></a>
	<a href="mailto:joel@codeprivy.com"><i class="fa fa-envelope-square fa-2x"></i></a>
	<a href="{{@blog.url}}/rss"><i class="fa fa-rss-square fa-2x"></i></a> 
</div>                                                                  

